<%- include("partial/header.ejs") -%>
<link rel="stylesheet" href="/css/about.css">
<h1>ABOUT US</h1>


<div class="entries">
  <div class="entry">
    <div class="title">ARUN KUMAR -- MENTOR</div>
    <div class="body">
      <p>AMRITA UNIVERSITY</p>
      <img src="/img/2.png" height="300" width="300" style="border-radius:50%" alt="">
    </div>
  </div>
  <div class="entry">
    <div class="title">ABHI SUWETHA -- DEVELOPER,ACB</div>
    <div class="body">
      <p>AMRITA UNIVERSITY</p>
      <img src="/img/7.jpg" height="300" width="300" style="border-radius:50%" alt="">    </div>
  </div>
  <div class="entry">
    <div class="title big">NITHEESE  --  TEST ENGINEER,ACB</div>
    <div class="body">
      <p>AMRITA UNIVERSITY</p>
      <img src="/img/5.png" height="250" width="250" style="border-radius:50%" alt="">    </div>
  </div>
  <div class="entry">
    <div class="title">RISHINATH -- DEVOPS ENGINEER,ACB</div>
    <div class="body">
      <p>AMRITA UNIVERSITY</p>
      <img src="/img/4.png" height="300" width="300" style="border-radius:50%" alt="">    </div>
  </div>
  <div class="entry">
    <div class="title">SURYA -- DEVELOPER,ACB</div>
    <div class="body">
      <p>AMRITA UNIVERSITY</p>
      <img src="/img/3.png" height="350" width="250" style="border-radius:50%" alt="">
    </div>
  </div>
  <div class="entry">
    <div class="title big">MARUTI -- TEST ENGINEER</div>
    <div class="body">
      <p>AMRITA UNIVERSITY</p>
      <img src="/img/6.png" height="300" width="300" style="border-radius:50%" alt="">    </div>
  </div>
  <div class="entry">
    <div class="title">KISHORE KUMAR -- DEVOPS ENGINEER,ACB</div>
    <div class="body">
      <p>AMRITA UNIVERSITY</p>
      <img src="/img/1.png" height="300" width="300" style="border-radius:50%" alt="">    </div>
  </div>
</div>

<%- include("partial/footer.ejs") -%>
