body {
  background-image: url("/img/gear_l.jpg");
  background-repeat: no-repeat;
background-size: cover;
padding-bottom: 50px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.bg{
background-image: url('/img/get.jpg');
color: white;
margin-left: 300px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
h2{
  margin-left: 85%;
}
.not{
  margin-left: 27%;
  font-size: 1.2em;
}
.th{
  float: left;
}
a{
  color: white;
}
.btn{
  color: blue;
}

input:checked + .slider {
  background-color: #355453;
}

input:focus + .slider {
  box-shadow: 0 0 1px #355453;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
